.spin {
  display: block;
  animation: spin var(--duration-spin) linear infinite;
  transform-box: view-box;
  transform-origin: center;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
